<div id="wrap">
	<header id="Layout_header">
		<div class="header_inner">
			<h1><span>KPOP</span>&nbsp;dance class, Online</h1>
			<p style="font-size: 32px;">"Experience the real <br> K-pop idol dance training"</p>
		</div>
	</header>

	<div id="Layout_content">
		<article class="content_inner">
			<div class="section_title"><h2>Class #<span id="class_no">014</span> Ends Soon</h2></div>
			
			<div class="discount_timer_wrap">
				<div class="discount_tag"><strong>75%</strong><span>DISCOUNT</span></div>
				<div class="discount_timer"><span id="timer_hour">02</span><span id="timer_minute">59</span><span id="timer_second">44</span></div>
			</div>

			<div class="major_agency_wrap">
				<p>
					The actual curriculum for K-pop trainees at<br>
					<strong>3 major agencies(SM/JYP/YG)</strong><br>
					is now available online just for you.
				</p>
				<div><%= image_tag "icon_sm.png" %><%= image_tag "icon_jyp.png" %><%= image_tag "icon_yg.png" %></div>
			</div>
			<div class="video_wrap">
				<div style="padding:56.25% 0 0 0;position:relative;"><iframe id="video_iframe" src="https://player.vimeo.com/video/288933179?title=0&amp;byline=0&amp;portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
			</div>
			
			<div class="intro_wrap">
				<div class="intro_inner">
					<div class="intro_img"><%= image_tag "img_profile.png" %></div>
					<div class="intro_text">
						<span>KPOP ENTERTAINMENT<br>Dance Trainer</span>
						<strong>Kyung  Ha Shim</strong>
						<p>Trained 2ne1 at YG, worked as main choreographer for SNSD, GFRIEND also performed with&nbsp;top K-pop idols &amp; stars such as PSY, Big Bang, BoA, etc.</p>
					</div>
				</div>
			</div>

			<div class="section_title"><h2>DIRECTED KPOP STAR LIST</h2></div>
			<div class="starList_wrap">
				<div>
					<span class="star1"></span>
					<span class="star2"></span>
					<span class="star3"></span>
				</div>
				<div>
					<span class="star4"></span>
					<span class="star5"></span>
					<span class="star6"></span>
					<span class="star7"></span>
				</div>
			</div>
			
      <div class="section_title" style="margin-top: 20px; margin-bottom: 10px;"><h2 style="">Things you will learn: how to become a K-pop idol</h2></div>
			<div class="curriculum_wrap" style="">
				<ol style="padding: 10px;">
					<li style="padding-bottom: 10px;"> Re-learning your basic moves, in the K-pop way.</li>
					<li style="padding-bottom: 10px;"><div style="float: right; width: calc(100% - 28px);">About K-pop major agencies: how they are different in dance tone/manner.</div></li>
					<li style="padding-bottom: 10px;"><div style="float: right; width: calc(100% - 28px);">K-pop audition prep: what the judges look for and the secrets of passing them.</div></li>
					<li style="padding-bottom: 10px;"><div style="float: right; width: calc(100% - 28px);">What really happens after you get into a K-pop agency, how to climb up and début.</div></li>
					<li style="padding-bottom: 10px;"><div style="float: right; width: calc(100% - 28px);">K-pop camera walk: how to look great on camera while performing.</div></li>
					<li style="">Real interviews: What it’s like being a K-pop idol.</li>
					<li style="">and much more.</li>
				</ol>
			</div>
      
      <div class="section_title" style="margin-top: 20px;"><h2>Example dance training curriculum</h2></div>
      <div class="curriculum_wrap" style="margin-bottom: 20px;">
				<ol style="">
          <li style="">2NE1's dance technique, <strong style="">'isolation'</strong></li>
          <li style="">Big Bang's dance technique, <strong style="">'Bounce'</strong></li>
          <li style="">GFRIEND's dance technique, <strong style="">'Spread the arm'</strong></li>
          <li style="">Girls' Generation's dance technique, <strong style="">'Wave'</strong></li>
          <li style="">BoA's dance technique, <strong style="">'Rhythm'</strong></li>
          <li style="">PSY's dance technique, <strong style="">'Step'</strong></li>
          <li style="">Twice's dance technique, <strong style="">'Waack'</strong></li>
				</ol>
			</div>
      
      <div class="section_title" style="margin-top: 20px;"><h2 style="">How it's done</h2></div>
      <div class="curriculum_wrap" style="margin: 0 auto; margin-bottom: 20px; width: 80%;">
				<ol style="">
            <li style="padding-bottom: 20px;">
              <div style="float: right; width: calc(100% - 28px);">Watch and follow Shim's K-pop dance training videos.</div><div style="clear: both;"></div>
              <%= image_tag "how_its_done_2.jpg", style: "display: block; margin: 0 auto; margin-top: 10px; width: 80%;" %>
            </li>
            <li style="padding-bottom: 20px;">
              <div style="float: right; width: calc(100% - 28px);">Do your daily assignments and every month, upload your recorded self-videos for evaluation.</div><div style="clear: both;"></div>
              <%= image_tag "how_its_done_3.jpg", style: "display: block; margin: 0 auto; margin-top: 10px; width: 80%;" %>
            </li>
            <li style="padding-bottom: 20px;">
              <div style="float: right; width: calc(100% - 28px);">You will get personal feedback from your very own K-pop dance trainer.</div><div style="clear: both;"></div>
              <%= image_tag "how_its_done_4.jpg", style: "display: block; margin: 0 auto; margin-top: 10px; width: 80%;" %>
            </li>
            <li style="padding-bottom: 20px;">
              <div style="float: right; width: calc(100% - 28px);">Go onto the next chapter, and keep practicing.</div><div style="clear: both;"></div>
              <%= image_tag "how_its_done_1.jpg", style: "display: block; margin: 0 auto; margin-top: 10px; width: 80%;" %>
            </li>
				</ol>
			</div>
            
      <div class="section_title" style="margin-top: 20px;"><h2>With purchase you will get</h2></div>
			<div class="curriculum_wrap" style="margin-bottom: 20px;">
				<ol style="">
          <li>Life time access to <strong style="">12 full class</strong>(3month) program</li>
          <li style="">Chance to create your very own <strong>Dance portfolio</strong></li>
					<li>Real feedback session from <strong style="">K-Pop dance trainer</strong></li>
					<li style="">Up to 10 connected <strong>Devices</strong></li>
					<li>Chance to win a trip to <strong>K-pop audition</strong> in Seoul</li>
          <li style="">Limited time <strong style="">75% discount</strong><br><p style="text-align: center;"><s style="font-size: 28px; font-weight: bold;">$199</s> <strong style="padding: 5px; color: rgb(0, 124, 255); font-size: 32px; ">$49</strong></p></li>
				</ol>
			</div>

      <div class="section_title" style="margin-top: 20px;"><h2>They started with a small step too.</h2></div>
      <div class="curriculum_wrap" style="margin-bottom: 20px;">
        <p style="font-weight: bold; margin-bottom: 5px;">Thank you note from Minji, K-pop idol 2NE1</p>
        <%= image_tag "thanks_Minji_2NE1.jpg" %>
        <br><br>
        <p style="font-weight: bold; margin-bottom: 5px;">Thank you note from K-pop idol GFRIEND</p>
        <%= image_tag "thanks_GFRIEND.jpg" %>
      </div>

      <div class="section_title" style="margin-top: 20px;"><h2 style="">Frequently asked questions:</h2></div>
      <div class="curriculum_wrap" style="width: 80%; max-width: 600px; margin: 0 auto; margin-bottom: 20px;">
        <p style="text-align: left; font-weight: bold; margin-bottom: 10px;">Q1) Where can I take this class?</p>
        <p style="line-height: 20px; text-align: left;">A1) You can take the class wherever you are. All of the training videos and assignments will be given online.</p>
        <br>
        <p style="text-align: left; font-weight: bold; margin-bottom: 10px;">Q2) When does the class start?</p>
        <p style="line-height: 20px; text-align: left;">A2) First training class will go online on late October 2018. You can choose to start your first class whenever after that.</p>
        <br>
        <p style="text-align: left; font-weight: bold; margin-bottom: 10px;">Q3) Do I have to pay every month?</p>
        <p style="line-height: 20px; text-align: left;">A3) During this special event, you will pay ONLY one time.</p>
      </div>
    </article>
	</div>

	<footer id="Layout_footer">
		<div class="footer_inner">
			<p>111, Teheran-ro, Gangnam-gu, Seoul, Republic of Korea<br>
			</p><p>contact: kpop@dsschool.co.kr<br>
			Copyright 2018 © The Next School Inc.</p>
		</div>
	</footer>

	<nav id="layout_nav">
		<div class="nav_inner">
			<!--<div class='discount_nav'><span>Special</span><span>Discount</span><strong>50%</strong></div>-->
			<a id="link_register" href="https://www.gokpop.dance/purchase?product_id=801553"><button>Register the class</button></a>
		</div>
	</nav>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="2119455514974587">
</div>

<% content_for :javascript do %>
  <!-- 마케팅 추적 코드 -->
  <script>
    fbq('track', 'ViewContent');
    // mixpanel
    track_identify(getUid(), get_current_email());
    track_event('ProductPage');
     $(function () {
        var position_half = $('.video_wrap').offset().top
        var position_end = $('.intro_wrap').offset().top
        var is_visited_half_position = false;
        var is_visited_end_position = false;
        
        $(window).scroll(function() {
            if($(window).scrollTop() > position_half && !is_visited_half_position) {
              fbq('trackCustom', 'Landing_Scroll_Half');
              track_event('Landing_scroll_half');
              is_visited_half_position = true;
            }else if($(window).scrollTop() > position_end && !is_visited_end_position) {
              fbq('trackCustom', 'Landing_Scroll_End');
              track_event('Landing_scroll_end');
              is_visited_end_position = true;
            }
        });
        
        $('#link_register').click(function(){
          console.log('base');
          $('.lds-ring').removeClass('hide');

          // mixpanel codes
          if(get_current_email()){
            mixpanel.people.set({
              "$email": get_current_email(),
              "$optimize_exp": localStorage.getItem('ds:exp'),
            });
          }
          ga('send', 'event', 'btn_register', 'click');
          fbq('track', 'InitiateCheckout');
          track_event('Product_Checkout');
        });
    });
  </script>

   <script>
  /* 날짜 입력 */
    var startDate = new Date("Sep 17, 2018 00:00:00");
    var baseDate = new Date();
    baseDate.setDate(new Date().getDate() + 1);
    baseDate.setHours(0);
    baseDate.setMinutes(0);
    baseDate.setSeconds(0);
    
    var countDownDate = baseDate.getTime();
    var class_no = '';
    var now = '';
    var distance = '';
    var hours = '';
    var minutes = '';
    var seconds = '';

    function startInterval(seconds, callback) { callback(); return setInterval(callback, seconds * 1000); }
    function updateTimer() {
      now = new Date().getTime();
      class_no = Math.ceil((now - startDate.getTime()) / (1000 * 60 * 60 * 24));
      if (String(class_no).length < 2) { class_no = '00' + class_no; } else if (String(class_no).length < 3) { class_no = '0' + class_no; }
      document.getElementById("class_no").innerHTML = class_no;
      distance = countDownDate - now;
      if (distance < 0) {
        baseDate.setDate(baseDate.getDate() + 1);
        countDownDate = baseDate.getTime();
        distance = countDownDate - now;
      }
      hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      seconds = Math.floor((distance % (1000 * 60)) / 1000);
       if (hours >= 0 && minutes >= 0 && seconds >= 0) {
        if (String(hours).length < 2) { hours = '0' + hours; }
        if (String(minutes).length < 2) { minutes = '0' + minutes; }
        if (String(seconds).length < 2) { seconds = '0' + seconds; }
        document.getElementById("timer_hour").innerHTML = hours;
        document.getElementById("timer_minute").innerHTML = minutes;
        document.getElementById("timer_second").innerHTML = seconds;
      }
    }
    startInterval(1, updateTimer);
  </script>
<% end %>